
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applieds]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applieds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[AppliedOn] [datetime] NULL,
	[UserId] [nvarchar](128) NULL,
	[RecruiterId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Applieds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[CVPath] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 1/15/2021 11:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[RequiredDescription] [nvarchar](max) NULL,
	[RequiredResponsibilities] [nvarchar](max) NULL,
	[RequiredQualification] [nvarchar](max) NULL,
	[RequiredExperience] [nvarchar](max) NULL,
	[HrsPerWeek] [int] NULL,
	[Salary] [nvarchar](max) NULL,
	[MinExpInYr] [int] NULL,
	[Location] [nvarchar](max) NULL,
	[NoOfOpening] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.jobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applieds] ON 

INSERT [dbo].[Applieds] ([Id], [JobId], [Status], [AppliedOn], [UserId], [RecruiterId]) VALUES (1, 1, N'Accepted', CAST(N'2021-01-15T00:00:00.000' AS DateTime), N'c16fc375-8e9c-49ac-9c9f-4709a43b715f', N'8e59fbc8-f785-4388-a77c-2f044b5bb71e')
SET IDENTITY_INSERT [dbo].[Applieds] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Recruiter')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e2ce7326-3514-4381-96bd-972e005afb6b', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8e59fbc8-f785-4388-a77c-2f044b5bb71e', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [CVPath], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Role]) VALUES (N'8e59fbc8-f785-4388-a77c-2f044b5bb71e', NULL, N'Recruiter', N'recruiter@gmail.com', 0, N'ACvrI3UuF0TmrzhOWD8qfJ4troVCuAnwDL6BVzMEIVL5MFhF5y4e40pNI/Nkz8NppA==', N'344d790f-44f9-425c-98a7-29f15e5f4058', NULL, 0, 0, NULL, 1, 0, N'recruiter@gmail.com', N'Recruiter')
INSERT [dbo].[AspNetUsers] ([Id], [CVPath], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Role]) VALUES (N'c16fc375-8e9c-49ac-9c9f-4709a43b715f', N'/CandidatesCV/4111437e-1703-4dbb-a9f4-ef14e3e85048reca.PNG', N'Hanzala', N'user@gmail.com', 0, N'ALYejDdLWylcX5gb/3TnbumjWzphnnpEhi3GXSGodQkcaqgGPzwPyqgtGxWBvhHRWg==', N'd11a743a-c77d-4c65-b7b2-58d4a10b06d7', NULL, 0, 0, NULL, 1, 0, N'user@gmail.com', N'Candidate')
INSERT [dbo].[AspNetUsers] ([Id], [CVPath], [FullName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Role]) VALUES (N'e2ce7326-3514-4381-96bd-972e005afb6b', NULL, N'Admin', N'admin@admin.com', 0, N'AFyj6YYkfcaXFmMXJz89gm3Dz1RBlC6aTi1Bph3WuYTuulmWKqk76WZWUmzzja2v8g==', N'41da3e13-0265-4f4d-b55f-1438813394da', NULL, 0, 0, NULL, 1, 0, N'admin@admin.com', N'Admin')
GO
SET IDENTITY_INSERT [dbo].[jobs] ON 

INSERT [dbo].[jobs] ([JobId], [Title], [Skills], [RequiredDescription], [RequiredResponsibilities], [RequiredQualification], [RequiredExperience], [HrsPerWeek], [Salary], [MinExpInYr], [Location], [NoOfOpening], [Status], [UserId]) VALUES (1, N'Manager', N'abs test', N'sadasd', N'ada', N'2 ', N'2', 11, N'12200', 2, N'Lahore', 2, N'Close', N'8e59fbc8-f785-4388-a77c-2f044b5bb71e')
INSERT [dbo].[jobs] ([JobId], [Title], [Skills], [RequiredDescription], [RequiredResponsibilities], [RequiredQualification], [RequiredExperience], [HrsPerWeek], [Salary], [MinExpInYr], [Location], [NoOfOpening], [Status], [UserId]) VALUES (2, N'software', N'kjhg', N'j', N'j', N'jj', N'j', 11, N'12230', 1, N'Lahore', 12, N'Open', N'8e59fbc8-f785-4388-a77c-2f044b5bb71e')
SET IDENTITY_INSERT [dbo].[jobs] OFF
GO
